<template>
  <div class="__PayModal" v-if="show.modal">
    <div :class="[theme === 'dark' ? 'page' : 'page light']">
      <div class="close__wrapper">
        <button class="close" @click="closeModal">Закрыть</button>
      </div>
      <div class="form__wrapper">
        <div class="title">Введите ваши данные</div>
        <div class="subtitle">чтобы оставить заявку на программу</div>
        <form action="" class="form" @submit.prevent="submitHandler">
          <div class="form__item">
            <input
              :class="[
                {
                  error: $v.name.$dirty && !$v.name.required && showError,
                },
                {
                  done: $v.name.$dirty && $v.name.required,
                },
                '_input',
              ]"
              placeholder="Имя"
              v-model.trim="name"
            />
            <template>
              <div
                class="valid__icon"
                v-if="$v.name.$dirty && !$v.name.required && showError"
              >
                <img src="@/assets/error.svg" alt="" />
              </div>
              <div
                class="valid__icon"
                v-else-if="$v.name.$dirty && $v.name.required"
              >
                <img src="@/assets/valid.svg" alt="" />
              </div>
            </template>
            <div
              class="error__message"
              v-if="$v.name.$dirty && !$v.name.required && showError"
            >
              Это поле обязательное
            </div>
          </div>

          <div class="form__item">
            <input
              :class="[
                {
                  error:
                    ($v.email.$dirty && !$v.email.required && showError) ||
                    ($v.email.$dirty && !$v.email.email && showError),
                },
                {
                  done: $v.email.$dirty && $v.email.required && $v.email.email,
                },
                '_input',
              ]"
              placeholder="E-mail"
              v-model.trim="email"
            />
            <template>
              <div
                class="valid__icon"
                v-if="
                  ($v.email.$dirty && !$v.email.required && showError) ||
                  ($v.email.$dirty && !$v.email.email && showError)
                "
              >
                <img src="@/assets/error.svg" alt="" />
              </div>
              <div
                class="valid__icon"
                v-else-if="
                  $v.email.$dirty && $v.email.email && $v.email.required
                "
              >
                <img src="@/assets/valid.svg" alt="" />
              </div>
            </template>
            <div
              class="error__message"
              v-if="$v.email.$dirty && !$v.email.required && showError"
            >
              Это поле обязательное
            </div>
            <div
              class="error__message"
              v-else-if="$v.email.$dirty && !$v.email.email && showError"
            >
              Проверьте правильность ввода
            </div>
          </div>
          <div class="form__item">
            <vue-tel-input
              :class="[
                {
                  error:
                    ($v.phone.$dirty && !$v.phone.minLength && showError) ||
                    ($v.phone.$dirty && !$v.phone.required && showError),
                },
                {
                  done:
                    $v.phone.$dirty && $v.phone.minLength && $v.phone.required,
                },
                'input__country',
              ]"
              v-model.trim="phone"
              v-bind="location"
              ref="vueTelInput"
            ></vue-tel-input>
            <template>
              <div
                class="valid__icon"
                v-if="
                  ($v.phone.$dirty && !$v.phone.minLength && showError) ||
                  ($v.phone.$dirty && !$v.phone.required && showError)
                "
              >
                <img src="@/assets/error.svg" alt="" />
              </div>
              <div
                class="valid__icon"
                v-else-if="
                  $v.phone.$dirty && $v.phone.minLength && $v.phone.required
                "
              >
                <img src="@/assets/valid.svg" alt="" />
              </div>
            </template>
            <div
              class="error__message"
              v-if="
                ($v.phone.$dirty && !$v.phone.minLength && showError) ||
                ($v.phone.$dirty && !$v.phone.required && showError)
              "
            >
              Пожалуйста, введите не меньше 13 символов
            </div>
          </div>

          <button class="_button" type="submit">
            <img src="@/assets/card.svg" alt="" />
            <span>Оплатить {{ sum }} € </span>
          </button>
        </form>
      </div>
      <div class="agree label__agree">
        Нажимая на кнопку “продолжить”я подтверждаю, что я прочел(-ла) и
        принимаю
        <a>Условия оказания услуг и Политику конфиденциальности</a>
      </div>
    </div>
  </div>
</template>

<script>
import { required, minLength, email } from "vuelidate/lib/validators";

export default {
  name: "PayModal",
  props: {
    theme: String,
    sum: Number,
    show: Object,
  },
  data: () => ({
    name: "",
    phone: "",
    email: "",
    showError: false,
    location: { defaultCountry: "ua" },
  }),
  validations: {
    name: { required },
    phone: { required, minLength: minLength(13 + 3) },
    email: { required, email },
  },
  watch: {
    phone() {
      this.phone = this.phone
        .replace(/\+[^0-9]/g, "")
        .replace(/^(\+\d{5})(\d{3})(\d{2})(\d{2})/g, "$1 $2 $3 $4");
    },
  },
  methods: {
    closeModal() {
      let modal = document.querySelector(".__PayModal .page");
      modal.classList.add("modal-close");
      setTimeout(() => {
        this.show.modal = false;
      }, 400);
    },
    submitHandler() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.showError = true;
        return;
      }
      // console.log("finish");
    },
    hideErrors() {
      this.showError = false;
    },
  },
  mounted() {
    // console.log(1);
    document.addEventListener("click", this.hideErrors);
    this.axios.get("https://get.geojs.io/v1/ip/country.json").then((resp) => {
      if (resp.data.country) {
        let countryCode = resp.data.country.toLowerCase();
        if(this.$refs.vueTelInput){
          this.$refs.vueTelInput.choose(countryCode);
        }else{
          location.defaultCountry = countryCode;
        }
      }
    });
  },
  beforeDestroy() {
    document.removeEventListener("click", this.hideErrors);
  },
};
</script>

<style lang="scss">
.__PayModal {
  .page {
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0px;
    max-width: 375px;
    margin: 0 auto;
    border-radius: 20px 20px 0 0;
    background: #202932;
    transition: all 0.4s ease;
    animation: 0.4s ease formModal;
  }
  .page.modal-close {
    transition: 0.4s;
    transform: translateY(100%);
    opacity: 0;
  }
  .light.page {
    background: #fff;
  }

  .form__wrapper {
    padding: 32px 32px 0;
  }

  .light .title,
  .light .subtitle {
    color: #000;
  }

  .close {
    &__wrapper {
      position: relative;
      height: 56px;
    }
    position: absolute;
    top: 26.5px;
    right: 32px;
    font-size: 16px;
    line-height: 19.41px;
    text-decoration: underline;
    color: #fff;
  }

  .light .close {
    color: rgba(0, 0, 0, 0.6);
  }

  .form__item {
    position: relative;
    margin-top: 16px;
  }

  ._input,
  ._button {
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    &:hover {
      cursor: pointer;
    }
  }

  ._input {
    padding: 14.5px 16px;
    border: 1px solid transparent;
    border-radius: 8px;
    background: #181f26;
    font-size: 16px;
    &.done {
      background: #141414;
    }
    &.error {
      background: #141414;
      border-color: #990000;
    }
    &:focus {
      background: #141414;
      border-color: #515356;
    }
    &::placeholder {
      color: #707378;
    }
  }

  .light ._input {
    background: #ccd3d7;
    color: #000;
    &.done {
      border-color: #e0e7eb;
      background: #e0e7eb;
      color: #000;
    }
    &.error {
      background: #e0e7eb;
      border-color: #990000;
    }
    &:focus {
      background: #eaf1f5;
      border-color: #b8bfc3;
      color: #000;
      &::placeholder {
        color: #000;
      }
    }
  }

  div.input__country {
    position: relative;
    margin-top: 16px;
    background: #181f26;
    border: none;
    border-radius: 8px;
    &.done input {
      background: #141414;
      color: #fff;
    }
    &.error input {
      background: #141414;
      border-color: #990000;
    }
    &:focus-within {
      box-shadow: none;
      border-color: transparent;
    }
    & > div {
      position: absolute;
      height: 47px;
      padding: 0;
      outline: 2px solid transparent;
      border-radius: 8px;
      top: 50%;
      left: 1px;
      transform: translateY(-50%);
      &:focus {
        outline-color: #fff;
      }
      &:hover {
        background: transparent;
      }
      &.open {
        background: transparent;
        outline-color: #fff;
      }
      & .vti__selection {
        padding: 0 14px 0 16px;
      }
      & .vti__flag {
        margin: 0 10px 0 0;
      }

      & .vti__dropdown-arrow {
        transform: scaleY(1) !important;
        position: relative;
        font-size: 0;
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: 11px;
          height: 6px;
          background: center / cover no-repeat url("../assets/angle.svg");
          transform: translateY(-50%);
        }
      }
      & .vti__dropdown-list {
        top: calc(100% + 1px);
        padding: 16px;
        border: none;
        left: 0;
        &.above {
          top: auto;
          bottom: 100%;
        }
        & > li {
          padding: 0;
          & .vti__flag {
            margin-right: 7px;
          }
          & strong {
            margin-right: 7px;
            font-weight: 500;
          }
          &:not(:last-child) {
            padding: 4px 0;
          }
        }
      }
    }
    & > input {
      padding: 14.5px 7px 14.5px 70px;
      border-radius: 8px;
      background: #181f26;
      border: 1px solid transparent;
      color: #707378;
      font-size: 16px;

      &:focus {
        background: #141414;
        color: #fff;
        border-color: #515356;
      }
    }
  }

  .light div.input__country {
    background: #ccd3d7;
    & > div {
      &:focus {
        outline-color: transparent;
      }
    }
    &.done input {
      background: #e0e7eb;
      color: #000;
    }
    &.error input {
      background: #e0e7eb;
      border-color: #990000;
    }
    & > div {
      &.open {
        outline-color: transparent;
      }
      & .vti__dropdown-arrow:before {
        background: url("../assets/dark.svg");
      }
    }

    & > input {
      background: #ccd3d7;
      border: 1px solid transparent;
      &:focus {
        background: #eaf1f5;
        color: #000;
        border-color: #b8bfc3;
      }
    }
  }
  ._button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    height: 50px;
    border-radius: 8px;
    background: #3548fe;
    transition: all 0.2s ease;
    &:focus,
    &:hover {
      background: #7184ff;
    }
    img {
      margin-right: 10px;
    }
  }

  .valid__icon {
    position: absolute;
    top: 13px;
    right: 12.5px;
  }
  .error__message {
    position: absolute;
    left: 6px;
    top: calc(100% + 6px);
    width: calc(100% - 15px);
    min-height: 32px;
    padding: 0 8px 0 10px;
    border-radius: 2px;
    background: #fff;
    color: #990000;
    vertical-align: middle;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    line-height: 31px;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      top: calc(-50% + 7.5px);
      transform: translateY(-50%);
      left: 32px;
      width: 12.5px;
      height: 12.5px;
      border-radius: 2px 50% 50% 50%;
      border: 12px solid transparent;
      border-bottom: 12px solid #fff;
    }
  }
  .light .error__message {
    box-shadow: 2px -1px 15px rgba(0, 0, 0, 0.25);
  }

  .agree {
    margin: 27px 0 12px;
    & a {
      text-decoration: underline;
    }
  }
  .light .agree {
    color: #444753;
  }
  @media screen and (max-width: 374px) {
    .form__wrapper {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}
</style>
