<template>
  <div class="__Payment">
    <div :class="[theme === 'dark' ? 'page' : 'page light']">
      <div class="time__limit">
        <span>{{ currentTime }}</span>
      </div>
      <div class="title mt24">
        Сейчас вы будете переведены на страницу оплаты
      </div>
      <div class="subtitle mt24">
        По истечению таймера вас направит на защищенную страницу оплаты
      </div>
      <button class="_button mt24" @click="submitHandler">
        <span>Продолжить</span>
        <img src="@/assets/arrow__button.svg" />
      </button>
      <div class="time__skip mt24">
        нажмите кнопку, чтобы перейти к оплате без ожидания
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Payment",
  props: {
    theme: String,
  },
  data: () => ({ currentTime: 15, timer: null }),

  methods: {
    startTimer() {
      this.timer = setInterval(() => {
        this.currentTime--;
      }, 1000);
    },
    stopTimer() {
      clearTimeout(this.timer);
    },
    submitHandler() {
      // console.log("finish");
    },
  },
  mounted() {
    this.startTimer();
  },
  destroyed() {
    this.stopTimer();
  },
  watch: {
    currentTime(time) {
      if (time === 0) {
        this.stopTimer();
        // console.log("redirect");
      }
    },
  },
};
</script>

<style lang="scss">
.__Payment {
  padding-top: 141px;
  .mt24 {
    width: 286px;
    margin-top: 24px;
  }

  .page {
    padding: 32px 32px 0;
    max-width: 375px;
    margin: 0 auto;
  }

  .light .title,
  .light .subtitle {
    color: #000;
  }

  .time__limit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 77.46px;
    height: 76px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    font-size: 24px;
  }

  ._button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 24px;
    border: none;
    border-radius: 8px;
    outline: none;
    color: #fff;
    background: #3548fe;
    transition: all 0.2s ease;
    &:focus,
    &:hover {
      background: #7184ff;
      cursor: pointer;
    }
    img {
      position: absolute;
      right: 16px;
      margin: 0px;
    }
  }
  .time__skip {
    font-size: 12px;
    line-height: 14.56px;
    text-align: center;
    padding-bottom: 20px;
    color: #fff;
  }
  .light .time__skip {
    color: #000;
  }
  @media screen and (max-width: 374px) {
    .page {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}
</style>
