<template>
  <div class="promo">
    <div :class="[theme === 'dark' ? 'page' : 'page light']">
      <stack-modal
        :show="showStart.modal1"
        :modal-class="{ [modalClass]: true }"
        :saveButton="{ visible: false }"
        :cancelButton="{ visible: false }"
      >
        <div class="close__wrapper">
          <button class="close" @click="closeHandler">Закрыть</button>
        </div>

        <div class="form__wrapper">
          <div class="title">Введите ваш данные</div>
          <div class="subtitle subtitle__sec">
            чтобы оставить заявку на программу
          </div>
          <form action="" class="form" @submit.prevent="submitHandler">
            <div class="form__item">
              <input
                :class="[
                  {
                    error: $v.name.$dirty && !$v.name.required && showError,
                  },
                  {
                    done: $v.name.$dirty && $v.name.required,
                  },
                  '_input',
                ]"
                placeholder="Имя"
                v-model.trim="name"
              />
              <template>
                <div
                  class="valid__icon"
                  v-if="$v.name.$dirty && !$v.name.required && showError"
                >
                  <img src="@/assets/error.svg" alt="" />
                </div>
                <div
                  class="valid__icon"
                  v-else-if="$v.name.$dirty && $v.name.required"
                >
                  <img src="@/assets/valid.svg" alt="" />
                </div>
              </template>
              <div
                class="error__message"
                v-if="$v.name.$dirty && !$v.name.required && showError"
              >
                Это поле обязательное
              </div>
            </div>

            <div class="form__item">
              <vue-tel-input
                :class="[
                  {
                    error:
                      ($v.phone.$dirty && !$v.phone.minLength && showError) ||
                      ($v.phone.$dirty && !$v.phone.required && showError),
                  },
                  {
                    done:
                      $v.phone.$dirty &&
                      $v.phone.minLength &&
                      $v.phone.required,
                  },
                  'input__country',
                ]"
                v-model.trim="phone"
                v-bind="location"
                ref="vueTelInput"
              ></vue-tel-input>
              <template>
                <div
                  class="valid__icon"
                  v-if="
                    ($v.phone.$dirty && !$v.phone.minLength && showError) ||
                    ($v.phone.$dirty && !$v.phone.required && showError)
                  "
                >
                  <img src="@/assets/error.svg" alt="" />
                </div>
                <div
                  class="valid__icon"
                  v-else-if="
                    $v.phone.$dirty && $v.phone.minLength && $v.phone.required
                  "
                >
                  <img src="@/assets/valid.svg" alt="" />
                </div>
              </template>
              <div
                class="error__message"
                v-if="
                  ($v.phone.$dirty && !$v.phone.minLength && showError) ||
                  ($v.phone.$dirty && !$v.phone.required && showError)
                "
              >
                Пожалуйста, введите не меньше 13 символов
              </div>
            </div>
            <div class="promocode__input">
              <div class="promocode__input-text">{{ promocode }}</div>
              <img
                width="24px"
                class="promocode__input-img"
                src="@/assets/edit.svg"
                @click="changePromocode"
              />
            </div>
            <button class="promocode__input-button" type="submit">
              Оставить заявку
            </button>
          </form>
        </div>
        <div class="agree label__agree">
          Нажимая на кнопку “продолжить”я подтверждаю, что я прочел(-ла) и
          принимаю <a>Условия оказания услуг и Политику конфиденциальности</a>
        </div>
      </stack-modal>
      <stack-modal
        :show="showStart.modal2"
        :modal-class="{ [modalClass]: true }"
        :saveButton="{ visible: false }"
        :cancelButton="{ visible: false }"
      >
        <!-- <div class="close__wrapper">
          <button class="close" @click="closeModalSecond">Закрыть</button>
        </div> -->
        <img class="key__icon" src="@/assets/promo.svg" height="76" />
        <div class="form__wrapper2">
          <div class="title">Введите ваш промокод</div>
          <!-- <div class="subtitle">
            Мы выслали на номер {{ phomeShow }} код подтверждения, скопируйте
            его
          </div> -->
          <form action="" class="form" @submit.prevent="confirmHandler">
            <div class="form__item">
              <!-- <the-mask
                autocomplete="one-time-code"
                :class="[
                  {
                    error:
                      ($v.number.$dirty && !$v.number.minLength) ||
                      errorConfirm,
                  },
                  {
                    done: $v.number.$dirty && $v.number.minLength,
                  },
                  'input__check',
                ]"
                mask="######"
                v-model="number"
                :masked="true"
                placeholder="——————"
              ></the-mask> -->
              <input
                type="text"
                autocomplete="one-time-code"
                :class="[
                  {
                    error:
                      ($v.number.$dirty && !$v.number.minLength) ||
                      errorConfirm,
                  },
                  {
                    done: $v.number.$dirty && $v.number.minLength,
                  },
                  'input__check',
                ]"
                mask="####"
                :masked="true"
                placeholder="Введите промокод"
                v-model="number"
              />

              <template>
                <div
                  class="valid__icon"
                  v-if="
                    ($v.number.$dirty && !$v.number.minLength) || errorConfirm
                  "
                >
                  <img src="@/assets/error.svg" alt="" />
                </div>
                <div
                  class="valid__icon"
                  v-else-if="$v.number.$dirty && $v.number.minLength"
                >
                  <img src="@/assets/valid.svg" alt="" />
                </div>
              </template>
              <div
                class="error__message"
                v-if="
                  ($v.number.$dirty && !$v.number.minLength) || errorConfirm
                "
              >
                Неверный код
              </div>
            </div>

            <button class="_button" type="submit">
              <span>Подтвердить</span>
              <img src="@/assets/arrow__button.svg" />
            </button>
          </form>
        </div>
        <div class="resend__wrapper">
          <button class="resend">Отправить повторно</button>
        </div>
      </stack-modal>
      <stack-modal
        :show="showStart.modal3"
        :modal-class="{ [modalClass]: true }"
        :saveButton="{ visible: false }"
        :cancelButton="{ visible: false }"
      >
        <div class="close__wrapper">
          <button class="close" @click="closeHandler">Закрыть</button>
        </div>
        <div v-if="success" class="page__body">
          <div class="title">Поздравляем!</div>
          <div class="subtitle">метариалы теперь в доступе</div>
          <img class="end__icon" height="76px" src="@/assets/valid.svg" />
          <button class="_button" @click="choosePromocode">OK</button>
        </div>
        <div v-else class="page__body">
          <div class="title">ОЙ!</div>
          <div class="subtitle">что-то пошло не так</div>
          <img class="end__icon" height="76px" src="@/assets/error.svg" />
          <button class="_button" @click="closeModalThird">
            Вернутся назад
          </button>
        </div>
      </stack-modal>
    </div>
  </div>
</template>

<script>
import { required, minLength } from "vuelidate/lib/validators";
import StackModal from "@innologica/vue-stackable-modal";
import { TheMask } from "vue-the-mask";

export default {
  name: "FormModal",
  props: {
    theme: String,
    showStart: Object,
    // likes: Number,
    // isPublished: Boolean,
    // commentIds: Array,
    // author: Object,
    // callback: Function,
    // contactsPromise: Promise // или любой другой конструктор
  },
  components: { StackModal, TheMask },
  data: () => ({
    name: "",
    phone: "",
    phomeShow: "",
    number: "",
    modalClass: "",
    errorConfirm: false,
    // change to see a different view
    success: true,
    showError: false,
    location: { defaultCountry: "ua" },
    promocode: "#FFFFFF",
    promocodeEdit: false,
    newPromocode: "",
  }),
  validations: {
    name: { required },
    phone: { required, minLength: minLength(13 + 3) },
    number: { minLength: minLength(4) },
  },
  watch: {
    phone() {
      this.phone = this.phone
        .replace(/\+[^0-9]/g, "")
        .replace(/^(\+\d{5})(\d{3})(\d{2})(\d{2})/g, "$1 $2 $3 $4");
    },
    number(n) {
      if (n.length == 4) {
        this.$v.$touch();
        if (n === "test") {
          this.showStart.modal3 = true;
          this.errorConfirm = false;
        } else {
          this.errorConfirm = true;
        }
      } else {
        this.$v.number.$reset();
        this.errorConfirm = false;
      }
    },
  },
  methods: {
    changePromocode() {
      // this.promocodeEdit = true;
      // this.promocode = this.newPromocode;
      this.showStart.modal2 = true;
      // console.log(this.newPromocode);
    },
    closeModalSecond() {
      let modal = document.querySelector(
        ".promo .modal-order-2 .modal-content"
      );
      modal.classList.add("modal-close");
      setTimeout(() => {
        this.showStart.modal2 = false;
      }, 100);
    },
    closeModalThird() {
      let modal = document.querySelector(
        ".promo .modal-order-3 .modal-content"
      );
      modal.classList.add("modal-close");
      setTimeout(() => {
        this.showStart.modal3 = false;
      }, 100);
    },
    closeHandler() {
      let modals = document.querySelectorAll(".promo .modal-content");
      modals.forEach((modal) => modal.classList.add("modal-close"));
      setTimeout(() => {
        this.showStart.modal1 = false;
        this.showStart.modal2 = false;
        this.showStart.modal3 = false;
      }, 400);
    },
    submitHandler() {
      this.$v.name.$touch();
      this.$v.phone.$touch();
      // console.log(1);
      if (this.$v.name.$invalid || this.$v.phone.$invalid) {
        this.showError = true;
        return;
      }
      // this.showStart.modal2 = true;
      this.phomeShow = this.phone.replace(/\s+/g, "");
    },
    confirmHandler() {
      this.$v.number.$touch();
      if (this.number === "test") {
        this.errorConfirm = false;
        this.showStart.modal3 = true;
      } else {
        this.errorConfirm = true;
      }
    },
    hideErrors() {
      this.showError = false;
    },
    onPromoButton() {
      this.showStart.modal2 = true;
    },

    choosePromocode() {
      this.showStart.modal2 = false;
      this.showStart.modal3 = false;
      this.promocode = this.number;
    },
  },

  mounted() {
    document.addEventListener("click", this.hideErrors);
    this.axios.get("https://get.geojs.io/v1/ip/country.json").then((resp) => {
      if (resp.data.country) {
        let countryCode = resp.data.country.toLowerCase();
        if (this.$refs.vueTelInput) {
          this.$refs.vueTelInput.choose(countryCode);
        } else {
          location.defaultCountry = countryCode;
        }
      }
    });
  },
  beforeDestroy() {
    document.removeEventListener("click", this.hideErrors);
  },
};
</script>

<style lang="scss">
.promo {
  & .promocode__input-button {
    cursor: pointer;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 14px;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
  }
  .light &__button {
    color: #000;
  }
  .page {
    height: 100%;
    position: relative;

    background: #000;
  }
  .modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.4);

    // transition: all 0.2s ease;
  }
  .modal .modal-dialog {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .modal-dialog .modal-content {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 375px;
    margin: 0 auto;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background: #202932;
    box-shadow: 0 -4px 30px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: all 0.4s ease;
    animation: 0.4s ease formModal;
    will-change: transform;
  }

  .light .modal-dialog .modal-content[data-v-2d3db1d8] {
    background: #fff;
  }

  .modal .modal-dialog.aside .modal-content[data-v-2d3db1d8] {
    box-shadow: 0 1px 18px rgba(2, 11, 20, 0.8);
  }

  .light .modal .modal-dialog.aside .modal-content[data-v-2d3db1d8] {
    background: #515356;
  }

  .modal-dialog.aside.modal-stack-1.modal-order-1
    .modal-content[data-v-2d3db1d8] {
    -webkit-transform: scale(0.9) translateY(90px);
    transform: scale(0.9) translateY(90px);
    -webkit-transform-origin: top center;
    transform-origin: top center;
    overflow: hidden;
  }
  .modal-dialog.aside.modal-stack-1.modal-order-2
    .modal-content[data-v-2d3db1d8] {
    -webkit-transform: scale(0.9) translateY(-26px);
    transform: scale(0.9) translateY(-26px);
    -webkit-transform-origin: top center;
    transform-origin: top center;
    overflow: hidden;
  }

  .modal-dialog.aside.modal-stack-2.modal-order-1
    .modal-content[data-v-2d3db1d8] {
    -webkit-transform: scale(0.8) translateY(75px);
    transform: scale(0.8) translateY(75px);
    -webkit-transform-origin: top center;
    transform-origin: top center;
    overflow: hidden;
  }

  @keyframes formModal {
    from {
      transform: translate3d(0, 100%, 0) scale(0.95);
      transform-origin: center bottom;
    }

    to {
      transform: translate3d(0, 0%, 0) scale(1);
      transform-origin: center bottom;
    }
  }

  .modal-order-1 .modal-content[data-v-2d3db1d8] {
    height: 472px;
  }

  .modal-order-2 .modal-content[data-v-2d3db1d8] {
    height: 376px;
  }

  .modal-order-3 .modal-content[data-v-2d3db1d8] {
    height: 385px;
  }

  .modal-dialog.aside.modal-stack-1.modal-order-2
    .modal-content[data-v-2d3db1d8].modal-close {
    transition: 0.1s;
    transform: scale(0.9) translateY(100%);
    opacity: 0;
  }
  .modal-dialog.aside.modal-stack-0.modal-order-2
    .modal-content[data-v-2d3db1d8].modal-close {
    transition: 0.1s;
    transform: translateY(100%);
    opacity: 0;
  }
  .modal-dialog.aside.modal-stack-0.modal-order-3
    .modal-content[data-v-2d3db1d8].modal-close {
    transition: 0.1s;
    transform: translateY(100%);
    opacity: 0;
  }
  .modal-dialog.aside.modal-stack-2.modal-order-1
    .modal-content[data-v-2d3db1d8].modal-close {
    transition: 0.1s;
    transform: scale(0.8) translateY(100%);
    opacity: 0;
  }
  .modal .modal-dialog .modal-content[data-v-2d3db1d8].modal-close {
    transform: translateY(100%);
    opacity: 0;
  }

  .close {
    &__wrapper {
      position: relative;
      height: 51px;
    }
    position: absolute;
    top: 32px;
    right: 32px;
    font-size: 16px;
    line-height: 19.41px;
    text-decoration: underline;
    color: #fff;
  }
  .light .close {
    color: rgba(0, 0, 0, 0.6);
  }

  .form__wrapper {
    padding: 32px 32px 0px;
  }
  .form__wrapper2 {
    padding: 132px 32px 0;
  }
  .form__wrapper2 .title {
    margin: 0 0 24px 0;
  }
  .subtitle__sec {
    line-height: 18.83px;
  }
  .form__item {
    position: relative;
    margin-top: 16px;
  }

  .light .title,
  .light .subtitle {
    color: #000;
  }

  ._input,
  .promocode__input-button {
    width: 100%;
    border: none;
    outline: none;
    color: #fff;

    &:hover {
      cursor: pointer;
    }
  }

  ._input {
    padding: 14.5px 16px;
    border: 1px solid transparent;
    border-radius: 8px;
    background: #181f26;
    font-size: 16px;
    &.done {
      background: #141414;
    }
    &.error {
      background: #141414;
      border-color: #990000;
    }
    &:focus {
      background: #141414;
      border-color: #515356;
    }
    &::placeholder {
      color: #707378;
    }
  }
  .light ._input {
    background: #ccd3d7;
    color: #000;
    &.done {
      border-color: #e0e7eb;
      background: #e0e7eb;
      color: #000;
    }
    &.error {
      background: #e0e7eb;
      border-color: #990000;
    }
    &:focus {
      background: #eaf1f5;
      border-color: #b8bfc3;
      color: #000;
      &::placeholder {
        color: #000;
      }
    }
  }

  div.input__country {
    position: relative;
    margin-top: 16px;
    background: #181f26;
    border: none;
    border-radius: 8px;
    &.done input {
      background: #141414;
      color: #fff;
    }
    &.error input {
      background: #141414;
      border-color: #990000;
    }
    &:focus-within {
      box-shadow: none;
      border-color: transparent;
    }
    & > div {
      position: absolute;
      height: 47px;
      padding: 0;
      z-index: 1;
      outline: 2px solid transparent;
      border-radius: 8px;
      top: 50%;
      left: 1px;
      transform: translateY(-50%);
      &:focus {
        outline-color: #fff;
      }
      &:hover {
        background: transparent;
      }
      &.open {
        background: transparent;
        outline-color: #fff;
      }
      & .vti__selection {
        padding: 0 14px 0 16px;
      }
      & .vti__flag {
        margin: 0 10px 0 0;
      }

      & .vti__dropdown-arrow {
        transform: scaleY(1) !important;
        position: relative;
        font-size: 0;
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: 11px;
          height: 6px;
          background: center / cover no-repeat url("../assets/angle.svg");
          transform: translateY(-50%);
        }
      }
      & .vti__dropdown-list {
        top: calc(100% + 1px);
        padding: 16px;
        border: none;
        left: 0;
        &.above {
          top: auto;
          bottom: 100%;
        }
        & > li {
          padding: 0;
          & .vti__flag {
            margin-right: 7px;
          }
          & strong {
            margin-right: 7px;
            font-weight: 500;
          }
          &:not(:last-child) {
            padding: 4px 0;
          }
        }
      }
    }
    & > input {
      padding: 14.5px 7px 14.5px 70px;
      border-radius: 8px;
      background: #181f26;
      border: 1px solid transparent;
      color: #707378;
      font-size: 16px;

      &:focus {
        background: #141414;
        color: #fff;
        border-color: #515356;
      }
    }
  }

  .light div.input__country {
    background: #ccd3d7;
    & > div {
      &:focus {
        outline-color: transparent;
      }
    }
    &.done input {
      background: #e0e7eb;
      color: #000;
    }
    &.error input {
      background: #e0e7eb;
      border-color: #990000;
    }
    & > div {
      &.open {
        outline-color: transparent;
      }
      & .vti__dropdown-arrow:before {
        background: url("../assets/dark.svg");
      }
    }

    & > input {
      background: #ccd3d7;
      border: 1px solid transparent;
      &:focus {
        background: #eaf1f5;
        color: #000;
        border-color: #b8bfc3;
      }
    }
  }

  .promocode__input-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
    height: 50px;
    border-radius: 8px;
    background: #3548fe;
    transition: all 0.2s ease;
    &:focus,
    &:hover {
      background: #7184ff;
    }
    img {
      position: absolute;
      right: 16px;
    }
  }

  ._button {
    position: relative;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
    height: 50px;
    border-radius: 8px;
    background: #3548fe;
    transition: all 0.2s ease;
    &:focus,
    &:hover {
      background: #7184ff;
    }
    img {
      position: absolute;
      right: 16px;
    }
  }

  .key__icon {
    position: absolute;
    top: 32px;
    left: 32px;
  }

  .resend {
    &__wrapper {
      height: 67px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    font-size: 16px;
    line-height: 18.83px;
    text-decoration: underline;
    color: #fff;
  }
  .light .resend {
    color: #000;
  }

  .input__check {
    width: 100%;
    padding: 10px 0;
    padding-left: 14px;
    border: 1px solid transparent;
    border-radius: 8px;
    background: #181f26;
    color: #fff;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    line-height: 28px;
    text-align: center;
    letter-spacing: 2px;
    &::placeholder {
      opacity: 0.5;
    }
    &.error {
      border-color: #990000;
    }
    &:focus {
      border-color: #fff;
    }
  }

  .light .input__check {
    background: #ccd3d7;
    color: #000;
    &::placeholder {
      color: #707378;
    }
    &.done {
      background: #e0e7eb;
    }
    &.error {
      background: #e0e7eb;
      border-color: #990000;
    }
    &:focus {
      background: #e0e7eb;
      border-color: #b8bfc3;
      &::placeholder {
        color: #000;
      }
    }
  }

  .form__wrapper2 .valid__icon {
    top: 15px;
    right: 17px;
  }

  // step success

  .modal-order-3 {
    .close__wrapper {
      height: 51px;
    }
  }
  .page__body {
    padding: 32px 32px 60.5px;
    text-align: center;
  }
  .end__icon {
    width: 77.46px;
    height: 76px;
    margin: 32px 0 8px;
  }

  .valid__icon {
    position: absolute;
    top: 13px;
    right: 21px;
  }

  //  for all

  .error__message {
    position: absolute;
    left: 6px;
    top: calc(100% + 3px);
    width: calc(100% - 15px);
    min-height: 32px;
    padding: 0 8px 0 10px;
    border-radius: 2px;
    background: #fff;
    color: #990000;
    vertical-align: middle;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    line-height: 31px;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      top: -5px;
      left: 32px;
      width: 12.5px;
      height: 12.5px;
      background: #fff;
      border-radius: 2px 50% 50% 50%;
      transform: rotate(45deg);
      z-index: -1;
    }
  }
  .light .error__message {
    box-shadow: 2px -1px 15px rgba(0, 0, 0, 0.25);
  }

  .agree {
    margin: 22px 0 3px;
    & a {
      text-decoration: underline;
    }
  }
  .light .agree {
    color: #444753;
  }
  @media screen and (max-width: 374px) {
    .form__wrapper {
      padding-left: 16px;
      padding-right: 16px;
    }
    .form__wrapper2 {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}

.promocode__input {
  outline: none;
  position: relative;
  border-radius: 8px;
  z-index: 0;
  height: 54px;
  display: flex;
  align-items: center;
  margin-top: 16px;
  background: #141414;
  color: #fff;
  &-text {
    padding: 8px 48px 8px 16px;
    font-size: 16px;
    line-height: 19.41px;
    outline: none;
  }
  &-img {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
  }
}

._button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
  height: 50px;
  border-radius: 8px;
  background: #3548fe;
  transition: all 0.2s ease;
  &:focus,
  &:hover {
    background: #7184ff;
  }
  img {
    margin-right: 10px;
  }
}
</style>
