<template>
  <div class="__SubscribeModal">
    <div :class="[theme === 'dark' ? 'page' : 'page light']">
      <stack-modal
        :show="showStart.modal1"
        :modal-class="{ [modalClass]: true }"
        :saveButton="{ visible: false }"
        :cancelButton="{ visible: false }"
      >
        <div class="close__wrapper">
          <button class="close" @click="closeHandler">Закрыть</button>
        </div>
        <div class="form__wrapper">
          <img src="@/assets/lock.svg" height="76" />
          <div class="title title__scope">
            Доступно зарегистрированным пользователям
          </div>
          <form action="" class="form" @submit.prevent="submitHandler">
            <div class="form__item">
              <input
                :class="[
                  {
                    error:
                      ($v.email.$dirty && !$v.email.required && showError) ||
                      ($v.email.$dirty && !$v.email.email && showError),
                  },
                  {
                    done:
                      $v.email.$dirty && $v.email.required && $v.email.email,
                  },
                  '_input',
                ]"
                placeholder="E-mail"
                v-model.trim="email"
              />
              <template>
                <div
                  class="valid__icon"
                  v-if="
                    ($v.email.$dirty && !$v.email.required && showError) ||
                    ($v.email.$dirty && !$v.email.email && showError)
                  "
                >
                  <img src="@/assets/error.svg" alt="" />
                </div>
                <div
                  class="valid__icon"
                  v-else-if="
                    $v.email.$dirty && $v.email.email && $v.email.required
                  "
                >
                  <img src="@/assets/valid.svg" alt="" />
                </div>
              </template>
              <div
                class="error__message"
                v-if="$v.email.$dirty && !$v.email.required && showError"
              >
                Это поле обязательное
              </div>
              <div
                class="error__message"
                v-else-if="$v.email.$dirty && !$v.email.email && showError"
              >
                Проверьте правильность ввода
              </div>
            </div>
            <button class="_button">
              <span>Продолжить</span>
              <img src="@/assets/arrow__button.svg" />
            </button>
          </form>
        </div>
        <div class="agree label__agree">
          Нажимая на кнопку “продолжить”я подтверждаю, что я прочел(-ла) и
          принимаю
          <a>Условия оказания услуг и Политику конфиденциальности</a>
        </div>
      </stack-modal>
      <stack-modal
        :show="showStart.modal2"
        :modal-class="{ [modalClass]: true }"
        :saveButton="{ visible: false }"
        :cancelButton="{ visible: false }"
      >
        <div class="close__wrapper">
          <button class="close" @click="closeModal2">Закрыть</button>
        </div>
        <div class="form__wrapper">
          <img src="@/assets/key.svg" height="76" />
          <div class="title title__scope">Подтвердите ваш e-mail</div>
          <form action="" class="form" @submit.prevent="submitHandler">
            <div class="form__item">
              <the-mask
                :class="[
                  {
                    error:
                      ($v.code.$dirty && !$v.code.minLength) || errorConfirm,
                  },
                  {
                    done: $v.code.$dirty && $v.code.minLength && !errorConfirm,
                  },
                  'input__check',
                ]"
                mask="XXXXXX"
                v-model="code"
                :masked="true"
                placeholder="——————"
              ></the-mask>

              <template>
                <div
                  class="valid__icon"
                  v-if="($v.code.$dirty && !$v.code.minLength) || errorConfirm"
                >
                  <img src="@/assets/error.svg" alt="" />
                </div>
                <div
                  class="valid__icon"
                  v-else-if="$v.code.$dirty && $v.code.minLength"
                >
                  <img src="@/assets/valid.svg" alt="" />
                </div>
              </template>
              <div
                class="error__message"
                v-if="($v.code.$dirty && !$v.code.minLength) || errorConfirm"
              >
                Неверный код подтверждения
              </div>
            </div>
            <button class="_button" @click="confirmHandler">
              <span>Подтвердить</span>
              <img src="@/assets/arrow__button.svg" />
            </button>
          </form>
        </div>
        <div class="resend__wrapper">
          <button class="resend">Отправить повторно</button>
        </div>
      </stack-modal>
      <stack-modal
        :show="showStart.modal3"
        :modal-class="{ [modalClass]: true }"
        :saveButton="{ visible: false }"
        :cancelButton="{ visible: false }"
      >
        <div class="close__wrapper">
          <button class="close" @click="closeHandler">Закрыть</button>
        </div>
        <div v-if="success" class="page__body">
          <div class="title">Поздравляем!</div>
          <div class="subtitle">метариалы теперь в доступе</div>
          <img class="end__icon" src="@/assets/valid.svg" height="76" />
          <button class="_button">OK</button>
        </div>
        <div v-else class="page__body">
          <div class="title">ОЙ!</div>
          <div class="subtitle">что-то пошло не так</div>
          <img class="end__icon" src="@/assets/error.svg" height="76" />
          <button class="_button" @click="closeModal3">Вернутся назад</button>
        </div>
      </stack-modal>
    </div>
  </div>
</template>

<script>
import { required, email, minLength } from "vuelidate/lib/validators";
import StackModal from "@innologica/vue-stackable-modal";
import { TheMask } from "vue-the-mask";

export default {
  name: "SubscribeModal",
  props: {
    theme: String,
    showStart: Object,
  },
  components: { StackModal, TheMask },

  data: () => ({
    email: "",
    code: "",
    modalClass: "",
    errorConfirm: false,
    success: false,
    showError: false,
  }),
  validations: {
    email: { required, email },
    code: { minLength: minLength(6) },
  },
  watch: {
    code(n) {
      if (n.length === 6) {
        this.$v.$touch();
        if (n === "111222") {
          this.showStart.modal3 = true;
          this.errorConfirm = false;
        } else {
          this.errorConfirm = true;
        }
      } else {
        this.$v.code.$reset();
        this.errorConfirm = false;
      }
    },
  },
  methods: {
    closeModal2() {
      let modal = document.querySelector(
        ".__SubscribeModal .modal-order-2 .modal-content"
      );
      modal.classList.add("modal-close");
      setTimeout(() => {
        this.showStart.modal2 = false;
      }, 100);
    },
    closeModal3() {
      let modal = document.querySelector(
        ".__SubscribeModal .modal-order-3 .modal-content"
      );
      modal.classList.add("modal-close");
      setTimeout(() => {
        this.showStart.modal3 = false;
      }, 100);
    },
    closeHandler() {
      let modals = document.querySelectorAll(
        ".__SubscribeModal .modal-content"
      );
      modals.forEach((modal) => modal.classList.add("modal-close"));
      setTimeout(() => {
        this.showStart.modal2 = false;
        this.showStart.modal1 = false;
        this.showStart.modal3 = false;
      }, 500);
    },
    submitHandler() {
      this.$v.email.$touch();
      if (this.$v.email.$invalid) {
        this.showError = true;
        return;
      }
      this.showStart.modal2 = true;
    },
    confirmHandler() {
      this.$v.code.$touch();
      if (this.code === "123123") {
        this.errorConfirm = false;
        this.showStart.modal3 = true;
      } else {
        this.errorConfirm = true;
      }
    },
    hideErrors() {
      this.showError = false;
    },
  },
  mounted() {
    document.addEventListener("click", this.hideErrors);
  },
  beforeDestroy() {
    document.removeEventListener("click", this.hideErrors);
  },
};
</script>

<style lang="scss">
.__SubscribeModal {
  .modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.4);
  }
  .modal .modal-dialog {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .modal-dialog .modal-content[data-v-2d3db1d8] {
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 375px;
    margin: 0 auto;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background: #202932;
    box-shadow: 0 -4px 30px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: all 0.4s ease;
    animation: 0.4s ease formModal;
    will-change: transform;
  }
  .light .modal-dialog .modal-content[data-v-2d3db1d8] {
    background: #fff;
  }

  .modal .modal-dialog.aside .modal-content[data-v-2d3db1d8] {
    box-shadow: 0 1px 18px rgba(2, 11, 20, 0.8);
  }
  .light .modal .modal-dialog.aside .modal-content[data-v-2d3db1d8] {
    background: #515356;
  }

  .modal-dialog.aside.modal-stack-1.modal-order-1
    .modal-content[data-v-2d3db1d8] {
    -webkit-transform: scale(0.9) translateY(43px);
    transform: scale(0.9) translateY(43px);
    -webkit-transform-origin: top center;
    transform-origin: top center;
    overflow: hidden;
  }
  .modal-dialog.aside.modal-stack-1.modal-order-2
    .modal-content[data-v-2d3db1d8] {
    -webkit-transform: scale(0.9) translateY(-19px);
    transform: scale(0.9) translateY(-19px);
    -webkit-transform-origin: top center;
    transform-origin: top center;
    overflow: hidden;
  }

  .modal-dialog.aside.modal-stack-2.modal-order-1
    .modal-content[data-v-2d3db1d8] {
    -webkit-transform: scale(0.8) translateY(30px);
    transform: scale(0.8) translateY(30px);
    -webkit-transform-origin: top center;
    transform-origin: top center;
    overflow: hidden;
  }

  .modal-order-1 .modal-content[data-v-2d3db1d8] {
    height: 433px;
  }

  .modal-order-2 .modal-content[data-v-2d3db1d8] {
    height: 380px;
  }

  .modal-order-3 .modal-content[data-v-2d3db1d8] {
    height: 385px;
  }

  .modal-dialog.aside.modal-stack-1.modal-order-2
    .modal-content[data-v-2d3db1d8].modal-close {
    transition: 0.1s;
    transform: scale(0.9) translateY(100%);
    opacity: 0;
  }
  .modal-dialog.aside.modal-stack-0.modal-order-2
    .modal-content[data-v-2d3db1d8].modal-close {
    transition: 0.1s;
    transform: translateY(100%);
    opacity: 0;
  }
  .modal-dialog.aside.modal-stack-0.modal-order-3
    .modal-content[data-v-2d3db1d8].modal-close {
    transition: 0.1s;
    transform: translateY(100%);
    opacity: 0;
  }
  .modal-dialog.aside.modal-stack-2.modal-order-1
    .modal-content[data-v-2d3db1d8].modal-close {
    transition: 0.1s;
    transform: scale(0.8) translateY(100%);
    opacity: 0;
  }
  .modal .modal-dialog .modal-content[data-v-2d3db1d8].modal-close {
    transform: translateY(100%);
    opacity: 0;
  }

  .close {
    &__wrapper {
      position: relative;
    }
    position: absolute;
    top: 32px;
    right: 32px;
    font-size: 16px;
    line-height: 19.41px;
    text-decoration: underline;
    color: #fff;
  }
  .light .close {
    color: rgba(0, 0, 0, 0.6);
  }

  .form__wrapper {
    padding: 32px 32px 0;
  }
  .title__scope {
    margin: 24px 0;
  }
  .form__item {
    position: relative;
  }

  .light .title,
  .light .subtitle {
    color: #000;
  }

  ._input,
  ._button {
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    &:hover {
      cursor: pointer;
    }
  }

  ._input {
    padding: 15.5px 14px;
    border: 1px solid transparent;
    border-radius: 8px;
    background: #181f26;
    font-size: 16px;
    &.done {
      background: #141414;
    }
    &.error {
      background: #141414;
      border-color: #990000;
      border: 2px solid rgba(153, 0, 0, 1);
    }
    &:focus {
      background: #141414;
      border-color: #515356;
    }
    &::placeholder {
      color: #707378;
    }
  }
  .light ._input {
    background: #ccd3d7;
    color: #000;
    &.done {
      border-color: #e0e7eb;
      background: #e0e7eb;
      color: #000;
    }
    &.error {
      background: #e0e7eb;
      border-color: #990000;
    }
    &:focus {
      background: #eaf1f5;
      border-color: #b8bfc3;
      color: #000;
      &::placeholder {
        color: #000;
      }
    }
  }

  .input__check {
    width: 100%;
    padding: 10px 52.5px;
    border: 1px solid transparent;
    border-radius: 8px;
    background: #181f26;
    color: #fff;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    line-height: 28px;
    text-align: center;
    letter-spacing: 14px;
    &::placeholder {
      opacity: 0.5;
    }
    &.error {
      border-color: #990000;
    }
    &:focus {
      border-color: #fff;
    }
  }
  .light .input__check {
    background: #ccd3d7;
    color: #000;
    &::placeholder {
      color: #707378;
    }
    &.done {
      background: #e0e7eb;
    }
    &.error {
      background: #e0e7eb;
      border-color: #990000;
    }
    &:focus {
      background: #e0e7eb;
      border-color: #b8bfc3;
      &::placeholder {
        color: #000;
      }
    }
  }

  .valid__icon {
    position: absolute;
    top: 13px;
    right: 12.5px;
  }
  .error__message {
    position: absolute;
    left: 6px;
    text-align: center;
    top: calc(100% + 6px);
    width: calc(100% - 15px);
    min-height: 32px;
    padding: 0 8px 0 10px;
    border-radius: 2px;
    background: #fff;
    color: #990000;
    vertical-align: middle;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    line-height: 31px;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      top: calc(-50% + 7.5px);
      transform: translateY(-50%);
      left: 32px;
      width: 12.5px;
      height: 12.5px;
      border-radius: 2px 50% 50% 50%;
      border: 12px solid transparent;
      border-bottom: 12px solid #fff;
    }
  }
  .light .error__message {
    box-shadow: 2px -1px 15px rgba(0, 0, 0, 0.25);
  }

  ._button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    height: 50px;
    border-radius: 8px;
    background: #3548fe;
    transition: all 0.2s ease;
    &:focus,
    &:hover {
      background: #7184ff;
    }
    img {
      position: absolute;
      right: 16px;
    }
  }

  // step 2

  .resend {
    &__wrapper {
      display: flex;
      justify-content: center;
    }
    margin: 24px;
    font-size: 16px;
    line-height: 18.83px;
    text-decoration: underline;
    color: #fff;
  }
  .light .resend {
    color: #000;
  }

  // step 3

  .modal-order-3 {
    .close {
      &__wrapper {
        height: 51px;
      }
    }
  }
  .light .modal-order-3 {
    .close {
      color: rgba(0, 0, 0, 0.6);
    }
  }

  .page__body {
    padding: 32px 32px 60.5px;
    text-align: center;
  }
  .end__icon {
    width: 77.46px;
    height: 76px;
    margin: 32px 0 8px;
  }

  // all

  .agree {
    margin: 17px 0 16px;
    & a {
      text-decoration: underline;
    }
  }
  .light .agree {
    color: #444753;
  }
  @media screen and (max-width: 374px) {
    .form__wrapper {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}
</style>
