<template>
  <div class="__Subscribe">
    <div :class="[theme === 'dark' ? 'page' : 'page light']">
      <div class="form__wrapper">
        <img src="@/assets/lock.svg" height="76" />
        <div class="title title__scope">
          Доступно зарегистрированным пользователям
        </div>
        <form action="" class="form" @submit.prevent="submitHandler">
          <div class="form__item">
            <input
              :class="[
                {
                  error:
                    ($v.email.$dirty && !$v.email.required && showError) ||
                    ($v.email.$dirty && !$v.email.email && showError),
                },
                {
                  done: $v.email.$dirty && $v.email.required && $v.email.email,
                },
                '_input',
              ]"
              placeholder="E-mail"
              v-model.trim="email"
            />
            <template>
              <div
                class="valid__icon"
                v-if="
                  ($v.email.$dirty && !$v.email.required && showError) ||
                  ($v.email.$dirty && !$v.email.email && showError)
                "
              >
                <img src="@/assets/error.svg" alt="" />
              </div>
              <div
                class="valid__icon"
                v-else-if="
                  $v.email.$dirty && $v.email.email && $v.email.required
                "
              >
                <img src="@/assets/valid.svg" alt="" />
              </div>
            </template>
            <div
              class="error__message"
              v-if="$v.email.$dirty && !$v.email.required && showError"
            >
              Это поле обязательное
            </div>
            <div
              class="error__message"
              v-else-if="$v.email.$dirty && !$v.email.email && showError"
            >
              Проверьте правильность ввода
            </div>
          </div>
          <button class="_button" type="submit">
            <span>Продолжить</span>
          </button>
        </form>
        <div class="agree label__agree">
          Нажимая на кнопку “продолжить”я подтверждаю, что я прочел(-ла) и
          принимаю
          <a>Условия оказания услуг и Политику конфиденциальности</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { required, email } from "vuelidate/lib/validators";

export default {
  name: "SUbscribe",
  props: {
    theme: String,
  },
  data: () => ({
    email: "",
    showError: false,
  }),
  validations: {
    email: { required, email },
  },

  methods: {
    submitHandler() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.showError = true;
        return;
      }
      // console.log("finish");
    },
    hideErrors() {
      this.showError = false;
    },
  },
  mounted() {
    document.addEventListener("click", this.hideErrors);
  },
  beforeDestroy() {
    document.removeEventListener("click", this.hideErrors);
  },
};
</script>

<style lang="scss">
.__Subscribe {
  .page {
    padding-top: 152px;
    max-width: 375px;
    margin: 0 auto;
  }
  .form__wrapper {
    padding: 32px 32px 70px;
    position: relative;
    background: #202932;

    @media screen and (min-width: 376px) {
      border-radius: 20px;
    }
  }
  .light .form__wrapper {
    background: #fff;
  }
  .title__scope {
    margin: 22px 0;
  }
  .light .title,
  .light .subtitle {
    color: #000;
  }
  .form__item {
    position: relative;
  }

  ._input,
  ._button {
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    &:hover {
      cursor: pointer;
    }
  }

  ._input {
    padding: 14.5px 16px;
    border: 1px solid transparent;
    border-radius: 8px;
    background: #181f26;
    font-size: 16px;
    &.done {
      background: #141414;
    }
    &.error {
      background: #141414;
      border-color: #990000;
    }
    &:focus {
      background: #141414;
      border-color: #515356;
    }
    &::placeholder {
      color: #707378;
    }
  }

  .light ._input {
    background: #ccd3d7;
    color: #000;
    &.done {
      border-color: #e0e7eb;
      background: #e0e7eb;
      color: #000;
    }
    &.error {
      background: #e0e7eb;
      border-color: #990000;
    }
    &:focus {
      background: #eaf1f5;
      border-color: #b8bfc3;
      color: #000;
      &::placeholder {
        color: #000;
      }
    }
  }

  .valid__icon {
    position: absolute;
    top: 13px;
    right: 12.5px;
  }
  .error__message {
    position: absolute;
    left: 6px;
    top: calc(100% + 6px);
    width: calc(100% - 15px);
    min-height: 32px;
    padding: 0 8px 0 10px;
    border-radius: 2px;
    background: #fff;
    color: #990000;
    vertical-align: middle;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    line-height: 31px;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      top: calc(-50% + 7.5px);
      transform: translateY(-50%);
      left: 32px;
      width: 12.5px;
      height: 12.5px;
      border-radius: 2px 50% 50% 50%;
      border: 12px solid transparent;
      border-bottom: 12px solid #fff;
    }
  }
  .light .error__message {
    box-shadow: 2px -1px 15px rgba(0, 0, 0, 0.25);
  }
  ._button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    height: 50px;
    border-radius: 8px;
    background: #3548fe;
    transition: all 0.2s ease;
    &:focus,
    &:hover {
      background: #7184ff;
    }
    img {
      margin-right: 10px;
    }
  }

  .agree {
    // margin-top: 16px;
    position: absolute;
    bottom: 21px;
    left: 0;
    & a {
      text-decoration: underline;
    }
  }
  .light .agree {
    color: rgba(68, 71, 83, 1);
  }
  @media screen and (max-width: 374px) {
    .form__wrapper {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}
</style>
