<template>
  <div :class="[theme === 'dark' ? 'body' : 'body light']">
    <div class="change__theme" @click="changeThemeHandler">
      <img v-if="theme === 'dark'" src="@/assets/sun.svg" />
      <img v-else src="@/assets/moon.svg" />
    </div>
    <div class="change__form">
      <button @click="changeFormHandler(1)">1</button>
      <button @click="formOpen()">2</button>
      <button @click="changeFormHandler(3)">3</button>
      <button @click="payOpen()">4</button>
      <button @click="changeFormHandler(5)">5</button>
      <button @click="changeFormHandler(6)">6</button>
      <button @click="subscribeOpen(7)">7</button>
      <button @click="promocodeOpen()">8</button>
      <button @click="promoOpen()">9</button>
    </div>
    <template v-if="currentForm === 1">
      <Form :theme="theme" />
    </template>
    <template v-else-if="currentForm === 3">
      <Pay :theme="theme" :sum="17" />
    </template>

    <template v-else-if="currentForm === 5">
      <Payment :theme="theme" />
    </template>
    <template v-else-if="currentForm === 6">
      <Subscribe :theme="theme" />
    </template>
    <PayModal :theme="theme" :sum="17" :show="payModal" />
    <FormModal :theme="theme" :showStart="formShow" />
    <SubscribeModal :theme="theme" :showStart="subscribeShow" />
    <PromoModal :theme="theme" :showStart="promoModal" />
    <PromocodeModal :theme="theme" :showStart="promocodeShow" />
  </div>
</template>

<script>
import Form from "./components/Form";
import FormModal from "./components/FormModal";
import Pay from "./components/Pay";
import PayModal from "./components/PayModal";
import Payment from "./components/Payment";
import Subscribe from "./components/Subscribe";
import SubscribeModal from "./components/SubscribeModal";
import PromoModal from "./components/PromoModal";
import PromocodeModal from "./components/PromocodeModal";

export default {
  name: "App",
  components: {
    Form,
    FormModal,
    Pay,
    PayModal,
    Payment,
    Subscribe,
    SubscribeModal,
    PromocodeModal,
    PromoModal,
  },
  data() {
    return {
      theme: "light",
      // theme: "dark",
      currentForm: 0,
      payModal: { modal: false },
      formShow: { modal1: false, modal2: false, modal3: false },
      subscribeShow: { modal1: false, modal2: false, modal3: false },
      promocodeShow: { modal1: false, modal2: false, modal3: false },
      promoModal: { modal1: false, modal2: false, modal3: false },
    };
  },
  methods: {
    clearAll(noClear) {
      // console.log(noClear);
      if (noClear !== "formShow") {
        this.formShow = {
          modal1: false,
          modal2: false,
          modal3: false,
        };
      }
      if (noClear !== "subscribeShow") {
        this.subscribeShow = {
          modal1: false,
          modal2: false,
          modal3: false,
        };
      }
      if (noClear !== "promocodeShow") {
        this.promocodeShow = {
          modal1: false,
          modal2: false,
          modal3: false,
        };
      }
      if (noClear !== "payModal") {
        this.payModal = { modal: false };
      }
      if (noClear !== "promoModal") {
        this.promoModal = { modal1: false, modal2: false, modal3: false };
      }
      if (noClear !== "currentForm") {
        this.currentForm = 0;
      }
    },
    changeThemeHandler() {
      this.theme = this.theme === "light" ? "dark" : "light";
    },
    changeFormHandler(form) {
      this.clearAll("currentForm");
      this.currentForm = this.currentForm === form ? 0 : form;
    },
    payOpen() {
      this.clearAll("payModal");
      setTimeout(() => {
        this.payModal = {
          modal: !this.payModal.modal,
        };
      }, 0);
      // console.log(!this.payModal.modal);
    },
    formOpen() {
      this.clearAll("formShow");
      setTimeout(() => {
        this.formShow = {
          modal1: !this.formShow.modal1,
          modal2: false,
          modal3: false,
        };
      }, 0);
    },
    subscribeOpen() {
      this.clearAll("subscribeShow");
      setTimeout(() => {
        this.subscribeShow = {
          modal1: !this.subscribeShow.modal1,
          modal2: false,
          modal3: false,
        };
      }, 0);
    },
    promoOpen() {
      this.clearAll("promoModal");

      setTimeout(() => {
        this.promoModal = {
          modal1: !this.promoModal.modal1,
          modal2: false,
          modal3: false,
        };
      }, 0);
    },
    promocodeOpen() {
      this.clearAll("promocodeShow");
      setTimeout(() => {
        this.promocodeShow = {
          modal1: !this.promocodeShow.modal1,
          modal2: false,
          modal3: false,
        };
      }, 0);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "./style.css";
.change__theme {
  position: absolute;
  top: 15px;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  z-index: 1200;
}
.change__form {
  position: absolute;
  top: 65px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1200;
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    color: #fff;
    &:hover {
      color: #000;
      border-color: #000;
      background: #fff;
    }
  }
  :not(:last-child) {
    margin-right: 10px;
  }
}
@media screen and (max-width: 500px) {
  .change__form {
    button {
      width: 20px;
      height: 20px;
    }
  }
}
</style>
