@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");

@font-face {
  font-family: "Gilroy";
  src: url("@/fonts/Gilroy/Gilroy-Medium.woff") format("woff");
  src: url("@/fonts/Gilroy/Gilroy-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GilroyBold";
  src: url("@/fonts/Gilroy/Gilroy-Bold.woff") format("woff");
  src: url("@/fonts/Gilroy/Gilroy-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GilroySemibold";
  src: url("@/fonts/Gilroy/Gilroy-Semibold.woff") format("woff");
  src: url("@/fonts/Gilroy/Gilroy-Semibold.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
/* @font-face {
  font-family: "LatoRegular";
  src: url("@/fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("@/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
} */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 100%;
}
.body {
  position: relative;
  font-family: "Gilroy";
  width: 100vw;
  height: 100vh;
  background: #181f26;
}
.body.light {
  background: #181f26;
}

.title {
  font-family: "GilroySemibold";
  font-size: 24px;
  line-height: 29.4px;
  color: #fff;
}
.subtitle {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 19.41px;
  color: #fff;
}

.label__agree {
  text-align: center;
  font-size: 10px;
  line-height: 14px;
  color: #a8abb7;
}

input:focus {
  outline: none;
}
